<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Notification permission for Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".NewsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.News_app">

        <activity
            android:name=".ui.main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />


        <!-- Màn hình Home — hiển thị danh sách bài báo -->
        <activity
            android:name=".ui.main.HomeActivity"
            android:exported="false" />

        <!-- Login -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.saved.SavedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.SettingsActivity"
            android:exported="false" />

        <!-- ActicleDetail -->
        <activity android:name=".ui.main.ArticleDetailActivity"
            android:exported="false" />
        <activity android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />
        <activity android:name=".ui.main.CategoryDetailActivity"
            android:exported="false" />

        <activity android:name=".ui.search.SearchInputActivity" />
        <activity android:name=".ui.search.SearchResultActivity" />

        <!-- Create Article -->
        <activity
            android:name=".ui.create.CreateArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.create.CreatePreviewActivity"
            android:exported="false" />



    </application>

</manifest>